@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.wrapper{
    margin:30vh 25vw 0vh 25vw;
}
:root{
    --text-color:white;
    --text-font-family:'Inter', sans-serif;
}

.title{
    text-align: center;
    font-size:2.8rem;
    color: var(--text-color);
    font-family:var(--text-font-family);
}

.sub-title{
    text-align: center;
    margin-top:-2vh;
    color: var(--text-color);
    font-family:var(--text-font-family);
}

label:after {
    content:'\A';
    white-space: pre;
}
.form{
    margin:4vh 0vw 0vh 10vw;
}
.form .form__label{
    color: var(--text-color);
    font-size:1rem;
    font-weight: bold;
    font-family: var(--text-font-family);
}

.form .form__username{
    padding:1rem;
    border:none;
    background-color: #ABC0DB;
    border-radius:0.5rem;
    width:18vw;
    margin-top:1vh;
}

.form .form__btn{
    padding:0.8rem;
    border:none;
    border-radius:0.5rem;
    margin-left:1vw;
    font-size:1rem;
    width:10vw;
    color: var(--text-color);
    font-family: var(--text-font-family);
    background-color:#DE5A21;
    transition: 0.5s linear;
    text-align:center;
}

.form .form__btn:hover{
    width:11vw;
    display: inline;
    cursor:pointer;
}

.form .form__btn::after{
    content: "->";
    opacity:0;
}

.form .form__btn:hover::after{
    opacity:1;
    transition: 1s linear;
}